* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER NAV */

.contenedor-header{
    background: #222831;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-size: 36px;
    color: #00ADB5;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #00ADB5;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    padding-bottom: 5px;
}

.contenedor-header header nav ul li a:hover{
    border-bottom: 2px solid #00ADB5;
}

.nav-responsive{
    background-color: #00ADB5;
    color: azure;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* HEADER NAV */

/* -------------------------------------- */

/* SECCION INICIO */

.inicio{
    background: #393E46;
    background-size: cover;
    height: 100vh;
    color: #EEEEEE;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    padding: 20px;
    background-color: #222831;
    max-width: 420px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 10px solid #00ADB5;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}


.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 40px;
}

.inicio .contenedor-banner h2{
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a{
    color: #EEEEEE;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #EEEEEE;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    border-radius: 100%;
}

.inicio .contenedor-banner .redes a:hover{
    background-color: #00ADB5;
}


/* SECCION INICIO */

.sobremi{
    background: #EEEEEE;
    height: 100vh;
}

.sobremi .sobremi-title{
    color: #222831;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 12px;
    margin: auto;
    width: max-content;
    font-size: 40px;
    border-bottom: 5px solid ;

}

.sobremi .sobremi-contenedor{
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.sobremi .sobremi-contenedor img{
    margin-top: 40px;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 50px -10px #393E46;
}

.sobremi .sobremi-contenedor .sobremi-about{
    display: flex;
    flex-wrap: wrap;
    background: #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -10px #393E46;
}

.sobremi-about .about-subtitulo{
    color: #393E46;
    margin: auto;
    font-size: 25px;
}

.sobremi-about .about-texto{
    color: #393E46;
    font-size: 20px;
}