* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* HEADER NAV */

.contenedor-header {
    background: #222831;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-size: 36px;
    color: #00ADB5;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #00ADB5;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    padding-bottom: 5px;
}

.contenedor-header header nav ul li a:hover {
    border-bottom: 2px solid #00ADB5;
}

.nav-responsive {
    background-color: #00ADB5;
    color: azure;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* HEADER NAV */

/* -------------------------------------- */

/* SECCION INICIO */

.inicio {
    background: #393E46;
    background-size: cover;
    height: 100%;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.inicio .contenedor-banner {
    padding: 20px;
    background-color: #222831;
    max-width: 420px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-banner img {
    margin-top: 40px;
    border: 10px solid #00ADB5;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}


.inicio .contenedor-banner h1 {
    margin-top: 40px;
    font-size: 40px;
}

.inicio .contenedor-banner h2 {
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a {
    color: #EEEEEE;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #EEEEEE;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    border-radius: 100%;
}

.inicio .contenedor-banner .redes a:hover {
    background-color: #00ADB5;
}


/* SECCION INICIO */

.sobremi {
    background: #EEEEEE;
    height: 100%;
    padding-bottom: 100px;
}

.section-title {
    color: #222831;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 12px;
    margin: auto;
    width: max-content;
    font-size: 40px;
    border-bottom: 5px solid;
}

.sobremi .sobremi-contenedor {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.sobremi-cont {
    display: flex;
    height: 700px;
}

.sobremi .sobremi-contenedor img {
    margin-top: 40px;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 50px -10px #393E46;
}

.sobremi .sobremi-contenedor .sobremi-about {
    display: flex;
    flex-wrap: wrap;
    background: #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -10px #393E46;
    height: auto;
    padding: 10px;
}

.sobremi-about .about-subtitulo {
    color: #393E46;
    margin: auto;
    font-size: 25px;
}

.sobremi-about .about-texto {
    color: #393E46;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}


/* -------------------------------------- */


/* SECCION PROYECTOS */

.section-proyectos {
    background: #E4E4E4;
    height: 100%;
    padding-bottom: 100px;
}

.proyectos-contenedor {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-around;
    border-radius: 5px;
    row-gap: 3rem;
    column-gap: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.proyecto {
    width: 400px;
    height: 450px;
    box-shadow: 0px 4px 25px #bcbcbc;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.proyecto h2 {
    margin: 50px 0px 30px 0px;
    font-size: 1.5rem;

}

.proyecto img {
    display: block;
    width: 400px;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
}

.proyecto img:hover {
    transform: scale(1.05);
}


.proyecto-icon .bi {
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
}

.proyecto-icon .bi:hover {
    color: #00ADB5;
    cursor: pointer;
}

/* SECCION PROYECTOS */
/* ----------------------------------------*/


/* SECCION SKILLS */

.section-skills {
    background: #EEEEEE;
    height: 100%;
    padding-bottom: 100px;
}

.contenedor-skills {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.contenedor .contenedor-skills p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.contenedor .contenedor-skills img {
    width: 100px;
    transition: transform 0.5s;
}

.contenedor .contenedor-skills img:hover{
    transform: scale(1.1);
}

.contenedor .contenedor-skills h2 {
    text-align: center;
    margin: 50px 0 20px 0;
}

.contenedor-lenguajes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.contenedor-frameworks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.contenedor-tecnologias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}


/* SECCION SKILLS */

/* ----------------------------------------*/

/* SECCION CONTACTO */

.section-contacto {
    background: #E4E4E4;
    height: 100%;
    padding-bottom: 100px;
}

.contenedor-contacto {
    margin: auto;
    width: 600px;
    height: auto;
    font-size: 20px;
    box-shadow: 0px 4px 25px #bcbcbc;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0 30px 0;
}

.contacto-correo {
    padding: 8px 0 8px 0;
}

.contacto-telefono {
    padding: 8px 0 8px 0;
}

.contacto-direccion {
    padding: 8px 0 8px 0;
}

.contacto-icon {
    padding: 8px 0 8px 0;
}

.contacto-icon a {
    text-decoration: none;
    color: #222831;
    padding: 10px 5px 10px 5px;
    font-size: 30px;
}

.contacto-icon a:hover {
    color: #00ADB5;
}

/* SECCION CONTACTO */
/* ----------------------------------------*/

/* SECCION FOOTER */

.section-footer {
    background-color: #393E46;
    width: 100%;
    height: 100%;
    margin-top: auto;
}

.contenedor-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    font-size: 20px;
}

.contenedor-footer span {
    padding: 10px;
}

.contenedor-footer a {
    font-size: 40px;
    cursor: pointer;
    color: #EEEEEE;
    text-decoration: none;
}

.contenedor-footer a:hover {
    color: #00ADB5;
}

/* SECCION FOOTER */

/* ----------------------------------------*/

/* SECCION RESPONSIVE */



@media screen and (max-width:1040px) {

    .sobremi .sobremi-contenedor {
        flex-direction: column;
    }

    .sobremi .sobremi-contenedor img {
        width: 30%;
        margin-bottom: 20px;
    }

    .sobremi .sobremi-contenedor .sobremi-about {
        padding: 10px;
    }

    .proyecto {
        width: 300px;
        height: 350px;
    }

    .proyecto img {
        width: 300px;
        height: 200px;
    }

    .proyecto h2 {
        margin: 35px 0 30px 0;
    }

    .contenedor .contenedor-skills img {
        width: 80px;
    }
}


@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        background: #222831;
        width: 100vw;
        height: 350px;
        position: absolute;
        text-decoration: none;
        font-size: 2rem;
        top: 70px;
        right: 0;
        left: 0;
    }

    nav.responsive ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
    }
}


@media screen and (max-width:769px) {

    .section-title {
        font-size: 32px;
    }

    .contenedor {
        width: 85%;
    }

    .sobremi .sobremi-contenedor {
        flex-direction: column;
    }

    .sobremi .sobremi-contenedor img {
        width: 30%;
        margin-bottom: 20px;
    }

    .sobremi .sobremi-contenedor .sobremi-about {
        padding: 10px;
    }

    .proyecto {
        width: 280px;
        height: 320px;
    }

    .proyecto img {
        width: 280px;
        height: 180px;
    }


    .contenedor .contenedor-skills p {
        font-size: 25px;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px) {

    .inicio .contenedor-banner {
        max-width: 340px;
    }

    .inicio .contenedor-banner h1 {
        font-size: 30px;
    }

    .inicio .contenedor-banner .redes a{
        margin: 20px 5px;
    }

    .sobremi .sobremi-contenedor img {
        width: 40%;
    }


    .sobremi-about .about-subtitulo {
        font-size: 20px;
    }

    .sobremi-about .about-texto {
        font-size: 18px;
    }

    .proyecto {
        width: 280px;
        height: 320px;
    }

    .proyectos-contenedor{
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 2rem;
    }

    .proyecto img {
        width: 280px;
        height: 200px;
    }

    .proyecto h2 {
        font-size: 1.1rem;
        margin: 30px 0 10px 0;
    }


    .contenedor .contenedor-skills p {
        font-size: 20px;
    }

    .contenedor .contenedor-skills img {
        width: 50px;
    }

    .contenedor-contacto {
        width: 300px;
    }
}

@media screen and (min-width: 280px) and (max-width: 480px){
    .inicio .contenedor-banner {
        max-width: 250px;
    }

    .inicio .contenedor-banner h1 {
        font-size: 25px;
    }
    .inicio .contenedor-banner h2 {
        font-size: 15px;
    }

    .inicio .contenedor-banner .redes a{
        margin: 10px 5px;
    }

    .sobremi .sobremi-contenedor img {
        width: 40%;
    }


    .sobremi-about .about-subtitulo {
        font-size: 20px;
    }

    .sobremi-about .about-texto {
        font-size: 18px;
    }

    .proyecto {
        width: 280px;
        height: 320px;
    }

    .proyectos-contenedor{
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 2rem;
    }

    .proyecto img {
        width: 280px;
        height: 200px;
    }

    .proyecto h2 {
        font-size: 1rem;
        margin: 20px 0 10px 0;
    }


    .contenedor .contenedor-skills p {
        font-size: 20px;
    }

    .contenedor .contenedor-skills img {
        width: 40px;
    }

    .contenedor-contacto {
        width: 250px;
        font-size: 15px;
    }
}



