* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}


/* HEADER NAV */

.contenedor-header{
    background: #222831;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-size: 36px;
    color: #00ADB5;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #00ADB5;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    padding-bottom: 5px;
}

.contenedor-header header nav ul li a:hover{
    border-bottom: 2px solid #00ADB5;
}

.nav-responsive{
    background-color: #00ADB5;
    color: azure;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* HEADER NAV */

/* -------------------------------------- */

/* SECCION INICIO */

.inicio{
    background: #393E46;
    background-size: cover;
    height: 100vh;
    color: #EEEEEE;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    padding: 20px;
    background-color: #222831;
    max-width: 420px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 10px solid #00ADB5;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}


.inicio .contenedor-banner h1{
    margin-top: 40px;
    font-size: 40px;
}

.inicio .contenedor-banner h2{
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenedor-banner .redes a{
    color: #EEEEEE;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #EEEEEE;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    border-radius: 100%;
}

.inicio .contenedor-banner .redes a:hover{
    background-color: #00ADB5;
}


/* SECCION INICIO */

.sobremi{
    background: #EEEEEE;
    height: 100vh;
}

.section-title{
    color: #222831;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 12px;
    margin: auto;
    width: max-content;
    font-size: 40px;
    border-bottom: 5px solid ;
}

.sobremi .sobremi-contenedor{
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.sobremi .sobremi-contenedor img{
    margin-top: 40px;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 50px -10px #393E46;
}

.sobremi .sobremi-contenedor .sobremi-about{
    display: flex;
    flex-wrap: wrap;
    background: #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 0px 50px -10px #393E46;
}

.sobremi-about .about-subtitulo{
    color: #393E46;
    margin: auto;
    font-size: 25px;
}

.sobremi-about .about-texto{
    color: #393E46;
    font-size: 20px;
}


/* -------------------------------------- */


/* SECCION PROYECTOS */

.section-proyectos{
    background: #E4E4E4;
    height: 100%;
}

.contenedor-skills{
    padding: 50px;
}

.proyectos-contenedor{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-around;
    padding: 50px;
    border-radius: 5px;
    row-gap: 3rem;
    column-gap: 3rem;
}

.proyecto{
    width: 400px;
    height: 450px;
    box-shadow: 0px 4px 25px #bcbcbc;
    text-align: center; 
    border-radius: 10px;
    overflow: hidden;
}

.proyecto h2{
    margin: 50px 0px 30px 0px;
    font-size: 1.5rem;

}

.proyecto img{
    display: block;
    width: 400px;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
}

.proyecto img:hover{
    transform: scale(1.05);
}


.proyecto-icon .bi{
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
}

.proyecto-icon .bi:hover{
    color: #00ADB5;
    cursor: pointer;
}

/* SECCION PROYECTOS */
/* ----------------------------------------*/


/* SECCION SKILLS */

.section-skills{
    background: #EEEEEE;
    height: 100vh;
}

.contenedor .contenedor-skills p{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contenedor .contenedor-skills img{
    width: 100px;
    margin: 30px 60px 0px 60px;
}

.contenedor .contenedor-skills h2{
    text-align: center;
    margin: 50px 0 20px 0;
}

.contenedor-lenguajes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-frameworks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-tecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SECCION SKILLS */

/* ----------------------------------------*/

/* SECCION CONTACTO */

.section-contacto{
    background: #E4E4E4;
    height: 100vh;
}


/* SECCION SKILLS */

/* ----------------------------------------*/

/* SECCION RESPONSIVE */


@media screen and (max-width:980px){
    nav{
        display: none;
    }

    .nav-responsive{
        display: block;
    }

    nav.responsive{
    display: block;
    background: #222831;
    width: 100vw;
    height: 350px;
    position: absolute;
    text-decoration: none;
    font-size: 2rem;
    top: 70px;
    right: 0;
    left: 0;
    }

    nav.responsive ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
    }
}

